xml/schema/analysis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Copyright (c) 2012, 2013 The University of Utah
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of
  the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://anathema.flux.utah.edu/schema/vmi/1" xmlns:vmi1="http://anathema.flux.utah.edu/schema/vmi/1">
  <xs:include schemaLocation="common.xsd"/>
  <!-- start = Analysis -->
  <!--
    
    This is basically the subset of XSD types we support internally.
    
  -->
  <xs:simpleType name="DataTypeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="byte"/>
      <xs:enumeration value="short"/>
      <xs:enumeration value="int"/>
      <xs:enumeration value="long"/>
      <xs:enumeration value="unsignedByte"/>
      <xs:enumeration value="unsignedShort"/>
      <xs:enumeration value="unsignedInt"/>
      <xs:enumeration value="unsignedLong"/>
      <xs:enumeration value="time"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="dateTime"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ParamT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element minOccurs="0" ref="vmi1:longName"/>
      <xs:element minOccurs="0" ref="vmi1:description"/>
      <xs:element minOccurs="0" ref="vmi1:defaultValue"/>
    </xs:sequence>
    <xs:attribute name="isCommandLine" type="xs:boolean"/>
    <xs:attribute name="isCommandLineSwitched" type="xs:boolean"/>
  </xs:complexType>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="longName" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="defaultValue" type="xs:string"/>
  <xs:element name="param" type="vmi1:ParamT"/>
  <xs:complexType name="NameValueT">
    <xs:sequence>
      <xs:element ref="vmi1:nvName"/>
      <xs:element ref="vmi1:nvValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nvName" type="xs:string"/>
  <xs:element name="nvValue" type="xs:string"/>
  <xs:element name="nameValue" type="vmi1:NameValueT"/>
  <xs:complexType name="AnalysisEventT">
    <xs:sequence>
      <xs:element ref="vmi1:analysisEventType"/>
      <xs:element ref="vmi1:analysisId"/>
      <xs:element ref="vmi1:analysisStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="analysisEventType">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="exited"/>
        <xs:enumeration value="error"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="analysisId" type="vmi1:AnalysisIdT"/>
  <xs:element name="analysisEvent" type="vmi1:AnalysisEventT"/>
  <xs:complexType name="SupportFileT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element ref="vmi1:content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="content" type="xs:hexBinary"/>
  <xs:element name="supportFile" type="vmi1:SupportFileT"/>
  <xs:complexType name="AnalysisSpecT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element minOccurs="0" ref="vmi1:stdinBytes"/>
      <xs:element ref="vmi1:logStdout"/>
      <xs:element ref="vmi1:logStderr"/>
      <xs:element minOccurs="0" ref="vmi1:killOnClose"/>
      <xs:element minOccurs="0" ref="vmi1:killOnCloseSignal"/>
      <xs:element ref="vmi1:reportStdoutIntermediateResults"/>
      <xs:element ref="vmi1:reportStderrIntermediateResults"/>
      <xs:element ref="vmi1:autoparseSimpleResults"/>
      <xs:element ref="vmi1:inputParams"/>
      <xs:element minOccurs="0" ref="vmi1:supportFiles"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stdinBytes" type="xs:hexBinary"/>
  <xs:element name="logStdout" type="xs:boolean"/>
  <xs:element name="logStderr" type="xs:boolean"/>
  <xs:element name="killOnClose" type="xs:boolean"/>
  <xs:element name="killOnCloseSignal" type="xs:int"/>
  <xs:element name="reportStdoutIntermediateResults" type="xs:boolean"/>
  <xs:element name="reportStderrIntermediateResults" type="xs:boolean"/>
  <xs:element name="autoparseSimpleResults" type="xs:boolean"/>
  <xs:element name="inputParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:nameValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supportFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:supportFile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="analysisSpec" type="vmi1:AnalysisSpecT"/>
  <xs:complexType name="AnalysisDescT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element minOccurs="0" ref="vmi1:description"/>
      <xs:element minOccurs="0" ref="vmi1:author"/>
      <xs:element minOccurs="0" ref="vmi1:authorContact"/>
      <xs:element ref="vmi1:binary"/>
      <xs:element ref="vmi1:requiresWrite"/>
      <xs:element ref="vmi1:requiresControl"/>
      <xs:element ref="vmi1:generatesAnnotations"/>
      <xs:element ref="vmi1:reportsIntermediateResults"/>
      <xs:element ref="vmi1:reportsFinalResults"/>
      <xs:element ref="vmi1:supportsExternalControl"/>
      <xs:element ref="vmi1:supportsAutoparseSimpleResults"/>
      <xs:element ref="vmi1:inParams"/>
      <xs:element ref="vmi1:outParams"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="authorContact" type="xs:string"/>
  <xs:element name="binary" type="xs:string"/>
  <xs:element name="requiresWrite" type="xs:boolean"/>
  <xs:element name="requiresControl" type="xs:boolean"/>
  <xs:element name="generatesAnnotations" type="xs:boolean"/>
  <xs:element name="reportsIntermediateResults" type="xs:boolean"/>
  <xs:element name="reportsFinalResults" type="xs:boolean"/>
  <xs:element name="supportsExternalControl" type="xs:boolean"/>
  <xs:element name="supportsAutoparseSimpleResults" type="xs:boolean"/>
  <xs:element name="inParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:param"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="outParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:param"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="analysisDesc" type="vmi1:AnalysisDescT"/>
  <xs:simpleType name="AnalysisStatusT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="running"/>
      <xs:enumeration value="paused"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="done"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="analysisStatus" type="vmi1:AnalysisStatusT"/>
  <xs:complexType name="AnalysisT">
    <xs:sequence>
      <xs:element ref="vmi1:aid"/>
      <xs:element ref="vmi1:tid"/>
      <xs:element ref="vmi1:analysisStatus"/>
      <xs:element ref="vmi1:analysisResults"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aid" type="vmi1:AnalysisIdT"/>
  <xs:element name="tid" type="vmi1:TargetIdT"/>
  <xs:element name="analysis" type="vmi1:AnalysisT"/>
  <!--
    
    Analyses can report SimpleResults, TypedResults, or CustomResults.
    
    SimpleResults are named sets of text key/value pairs (and 
    have an overall text value, and an overall text msg summary).  The
    name of a SimpleResult is not a unique identifier; applications that
    use SimpleResults must be prepared to deal with this situation.
    
    TypedResults are similar to annotations.  They have an arbitrary
    number of named, typed fields (standard VMI datatypes), and also a
    name, value, and msg.  However, unlike a SimpleResult:name field, the
    TypedResult:name field should be unique.
    
    CustomResults have a unique name
    
  -->
  <xs:complexType name="SimpleResultT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element ref="vmi1:type"/>
      <xs:element ref="vmi1:time"/>
      <xs:element ref="vmi1:tsc"/>
      <xs:element ref="vmi1:counter"/>
      <xs:element ref="vmi1:resultValue"/>
      <xs:element minOccurs="0" ref="vmi1:msg"/>
      <xs:element ref="vmi1:outputValues"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:int"/>
  </xs:complexType>
  <xs:element name="type" type="xs:int"/>
  <xs:element name="time" type="xs:unsignedLong"/>
  <xs:element name="tsc" type="xs:unsignedLong"/>
  <xs:element name="counter" type="xs:unsignedLong"/>
  <xs:element name="resultValue" type="xs:string"/>
  <xs:element name="msg" type="xs:string"/>
  <xs:element name="outputValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:nameValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simpleResult" type="vmi1:SimpleResultT"/>
  <!--
    
    Right now, don't do typed results; we would want to use
    XSD anySimpleType basically, but Axis doesn't support that easily.
    
    TypedNameValueT = 
       element name { text },
       element value { text },
       element type { DataTypeT }
    TypedNameValue = element typedNameValue { TypedNameValueT }
    
    TypedResultT = 
       element name { text },
       element type { text }?,
       element subtype { text }?,
       element value { text },
       element msg { text }?,
       element outputValues { TypedNameValue* }
    TypedResult = element typedResult { TypedResultT }
  -->
  <xs:complexType name="CustomResultT">
    <xs:sequence>
      <xs:element ref="vmi1:name"/>
      <xs:element ref="vmi1:time"/>
      <xs:element ref="vmi1:tsc"/>
      <xs:element ref="vmi1:counter"/>
      <xs:element ref="vmi1:resultValue"/>
      <xs:element minOccurs="0" ref="vmi1:msg"/>
      <xs:group ref="vmi1:AnyExtension"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:int"/>
    <xs:attributeGroup ref="vmi1:AnyExtension"/>
  </xs:complexType>
  <xs:element name="customResult" type="vmi1:CustomResultT"/>
  <xs:complexType name="AnalysisResultT">
    <xs:sequence>
      <xs:element ref="vmi1:analysisId"/>
      <xs:choice>
        <xs:element ref="vmi1:simpleResult"/>
        <xs:element ref="vmi1:customResult"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="analysisResult" type="vmi1:AnalysisResultT"/>
  <xs:complexType name="AnalysisResultsT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:analysisResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="analysisResults" type="vmi1:AnalysisResultsT"/>
</xs:schema>
<!--
  
  We don't do anything with Annotations right now, but this is the
  definition we expect to export, once we have Traces.
  
  AnnotationTypeT = 
     attribute id { xsd:ID },
     attribute name { text },
  
     element annotationField {
         attribute name { text },
  	attribute datatype { DataTypeT }
     }+
  AnnotationType = element annotationType { AnnotationTypeT }
  
  AnnotationHeaderT = 
     attribute annotationTypeId { xsd:ID },
  
     attribute isEvent { xsd:boolean },
     attribute isMarker { xsd:boolean },
     attribute isDiscovery { xsd:boolean },
  
     attribute ns { xsd:unsignedLong },
     attribute tsc { xsd:unsignedLong },
     attribute counter { xsd:unsignedLong }
  
  AnnotationT = 
     AnnotationHeaderT,
     element fieldValues { TypedNameValue+ }
  Annotation = element annotation { AnnotationT }
-->
