xml/schema/analysis.rnc

#
# Copyright (c) 2012 The University of Utah
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
#
default namespace vmi1 = "http://anathema.flux.utah.edu/schema/vmi/1"

include "common.rnc"

#start = Analysis

Param = element param {
    element name { text },
    element longName { text }?,
    element description { text },
    element defaultValue { text }?
}

OutValue = element outValue {
    (element name { text }
     | element longName { text }),
    element value { text }
}

KeyValue = element keyValue {
    element key { text },
    element value { text }
}

Analysis = element analysis {
    element name { text } &
    element id { xsd:ID } &
    element description { text } &
    element author { text } &
    element authorContactEmail { text } &

    element requiresWriteMode { xsd:boolean } &
    element requiresControlMode { xsd:boolean } &
    element reportsProgress { xsd:boolean } &
    element reportsIntermediateResults { xsd:boolean } &
    element reportsFinalResults { xsd:boolean } &

    element inputParams { Param* } &
    element outputParams { Param* }
}

AnalysisResult = element analysisResult {
    element value { text } &
    element msg { text } &
    element outputValues { OutValue* }
}
