xml/schema/debuginfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Copyright (c) 2012, 2013 The University of Utah
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of
  the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://anathema.flux.utah.edu/schema/vmi/1" xmlns:vmi1="http://anathema.flux.utah.edu/schema/vmi/1">
  <xs:include schemaLocation="common.xsd"/>
  <xs:simpleType name="ScopeRef">
    <xs:restriction base="xs:IDREF"/>
  </xs:simpleType>
  <xs:simpleType name="SymbolRef">
    <xs:restriction base="xs:IDREF"/>
  </xs:simpleType>
  <!--
    
    Basically, the rule is that any vmi1 elements/types you need to
    reference in WSDL *must* be expressed as named complexTypes in the
    converted RNC produced by trang.  If this does not happen, the WSDL
    produced by gsoap will reference complexTypes that do not exist.  You
    can get into this situation a few different ways via trang's
    conversion of RNC (the situation being that trang will produce lots
    of elements (that are referenced later) with anonymous complexTypes).
    gsoap doesn't like this, even when you feed it those XSDs; it
    converts those anonymous types to named complexTypes.  Then, when it
    uses those type refs in WSDL messages, they aren't valid in the trang
    XSD schemas.
    
    So you need to avoid the situations that make trang produce anonymous
    complexTypes for the the types that get used in the WSDL directly.
    
    You avoid this situation by 1) avoiding attribute-only elements (these
    become attributeGroups in trang XSD, and gsoap doesn't handle groups
    nearly the same way that trang does; it seems to read XSDs with
    them and convert the groups to complexType-related stuff); and 2) if
    you need to reuse an element's type in a SOAP msg, provide a pattern
    group for just the element's *contents* without the 'element {' '}'
    bits around it.  If you put the element bits in, trang will generate
    an element that is ref'd elsewhere, that has an inline anonymous
    complexType... then when gsoap tries to reference that type in the
    WSDL, it cannot be found.
    
    This situation is going to force us to eventually either 1) write both
    our own RNC and WSDL files (so that the type/element refs are the
    same); 2) describe our data structs not in XML, but in gsoap's C-like
    header format (painful, but uniform); 3) use our own XSD, but don't
    strip gsoap's version of it that it inlines in the WSDL file out.
    This means we get schema control, BUT that anybody who pulls our WSDL
    doesn't really use our XSD files!  On the other hand, they are
    available for use outside of WSDL/SOAP/gsoap.  Maybe that is enough.
    
    Examples: 
    
    The following two patterns cause trang to spit xs:groups instead of 
    complex types, so we can't use them with gsoap, and must inline them.
    
    ScopeOrScopeRef = 
       (element scope { ScopeT } | element scopeRef { ScopeRef })
    ScopesOrScopeRefs = (element scope { ScopeT }+ 
                          | element scopeRef { ScopeRef }+)
    
    ... but this pattern causes a complex type, so it's safe!
    
    ScopesOrScopeRefsOpt = (element scope { ScopeT }* 
                             | element scopeRef { ScopeRef }*)
    
  -->
  <xs:complexType name="SymbolT">
    <xs:choice>
      <xs:element ref="vmi1:variable"/>
      <xs:element ref="vmi1:function"/>
      <xs:element ref="vmi1:label"/>
      <xs:element ref="vmi1:root"/>
      <xs:element ref="vmi1:block"/>
      <xs:element ref="vmi1:voidType"/>
      <xs:element ref="vmi1:baseType"/>
      <xs:element ref="vmi1:pointerType"/>
      <xs:element ref="vmi1:refType"/>
      <xs:element ref="vmi1:typedefType"/>
      <xs:element ref="vmi1:constType"/>
      <xs:element ref="vmi1:volatileType"/>
      <xs:element ref="vmi1:arrayType"/>
      <xs:element ref="vmi1:enumType"/>
      <xs:element ref="vmi1:structType"/>
      <xs:element ref="vmi1:unionType"/>
      <xs:element ref="vmi1:classType"/>
      <xs:element ref="vmi1:templateType"/>
      <xs:element ref="vmi1:namespaceType"/>
      <xs:element ref="vmi1:functionType"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="variable" type="vmi1:VariableT"/>
  <xs:element name="function" type="vmi1:FunctionT"/>
  <xs:element name="label" type="vmi1:LabelT"/>
  <xs:element name="root" type="vmi1:RootT"/>
  <xs:element name="block" type="vmi1:BlockT"/>
  <xs:element name="voidType" type="vmi1:VoidTypeT"/>
  <xs:element name="baseType" type="vmi1:BaseTypeT"/>
  <xs:element name="pointerType" type="vmi1:PointerTypeT"/>
  <xs:element name="refType" type="vmi1:RefTypeT"/>
  <xs:element name="typedefType" type="vmi1:TypedefTypeT"/>
  <xs:element name="constType" type="vmi1:ConstTypeT"/>
  <xs:element name="volatileType" type="vmi1:VolatileTypeT"/>
  <xs:element name="arrayType" type="vmi1:ArrayTypeT"/>
  <xs:element name="enumType" type="vmi1:EnumTypeT"/>
  <xs:element name="structType" type="vmi1:StructTypeT"/>
  <xs:element name="unionType" type="vmi1:UnionTypeT"/>
  <xs:element name="classType" type="vmi1:ClassTypeT"/>
  <xs:element name="templateType" type="vmi1:TemplateTypeT"/>
  <xs:element name="namespaceType" type="vmi1:NamespaceTypeT"/>
  <xs:element name="functionType" type="vmi1:FunctionTypeT"/>
  <xs:complexType name="SymbolsT">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="vmi1:variable"/>
      <xs:element ref="vmi1:function"/>
      <xs:element ref="vmi1:label"/>
      <xs:element ref="vmi1:root"/>
      <xs:element ref="vmi1:block"/>
      <xs:element ref="vmi1:voidType"/>
      <xs:element ref="vmi1:baseType"/>
      <xs:element ref="vmi1:pointerType"/>
      <xs:element ref="vmi1:refType"/>
      <xs:element ref="vmi1:typedefType"/>
      <xs:element ref="vmi1:constType"/>
      <xs:element ref="vmi1:volatileType"/>
      <xs:element ref="vmi1:arrayType"/>
      <xs:element ref="vmi1:enumType"/>
      <xs:element ref="vmi1:structType"/>
      <xs:element ref="vmi1:unionType"/>
      <xs:element ref="vmi1:classType"/>
      <xs:element ref="vmi1:templateType"/>
      <xs:element ref="vmi1:namespaceType"/>
      <xs:element ref="vmi1:functionType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SymbolsOptT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="vmi1:variable"/>
      <xs:element ref="vmi1:function"/>
      <xs:element ref="vmi1:label"/>
      <xs:element ref="vmi1:root"/>
      <xs:element ref="vmi1:block"/>
      <xs:element ref="vmi1:voidType"/>
      <xs:element ref="vmi1:baseType"/>
      <xs:element ref="vmi1:pointerType"/>
      <xs:element ref="vmi1:refType"/>
      <xs:element ref="vmi1:typedefType"/>
      <xs:element ref="vmi1:constType"/>
      <xs:element ref="vmi1:volatileType"/>
      <xs:element ref="vmi1:arrayType"/>
      <xs:element ref="vmi1:enumType"/>
      <xs:element ref="vmi1:structType"/>
      <xs:element ref="vmi1:unionType"/>
      <xs:element ref="vmi1:classType"/>
      <xs:element ref="vmi1:templateType"/>
      <xs:element ref="vmi1:namespaceType"/>
      <xs:element ref="vmi1:functionType"/>
    </xs:choice>
  </xs:complexType>
  <!-- NestedSymbolT = SymbolsT -->
  <xs:element name="nestedSymbol" type="vmi1:SymbolsT"/>
  <xs:complexType name="DebugFileT">
    <xs:sequence>
      <xs:element minOccurs="0" ref="vmi1:name"/>
      <xs:sequence minOccurs="0">
        <xs:element ref="vmi1:version"/>
        <xs:element ref="vmi1:debugfileType"/>
        <xs:element ref="vmi1:debugfileTypeFlags"/>
        <xs:element ref="vmi1:rootSymbols"/>
        <xs:element ref="vmi1:globalSymbols"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="sid" type="vmi1:DebugFileIdT"/>
    <xs:attribute name="sref" type="xs:IDREF"/>
  </xs:complexType>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="version" type="xs:token"/>
  <xs:element name="debugfileType">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="none"/>
        <xs:enumeration value="elf"/>
        <xs:enumeration value="dwarf"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="debugfileTypeFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:debugfileTypeFlag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="debugfileTypeFlag">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="none"/>
        <xs:enumeration value="kernel"/>
        <xs:enumeration value="kmod"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="rootSymbols" type="vmi1:SymbolsT"/>
  <xs:element name="globalSymbols" type="vmi1:SymbolsT"/>
  <xs:element name="debugFile" type="vmi1:DebugFileT"/>
  <xs:complexType name="DebugFileOptsT">
    <xs:sequence>
      <xs:element ref="vmi1:debugfileRefDepth"/>
      <xs:element ref="vmi1:symbolRefDepth"/>
      <xs:element ref="vmi1:scopeRefDepth"/>
      <xs:element ref="vmi1:doMultiRef"/>
      <xs:element ref="vmi1:doManualRef"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="debugfileRefDepth" type="xs:int"/>
  <xs:element name="symbolRefDepth" type="xs:int"/>
  <xs:element name="scopeRefDepth" type="xs:int"/>
  <xs:element name="doMultiRef" type="xs:boolean"/>
  <xs:element name="doManualRef" type="xs:boolean"/>
  <xs:element name="debugFileOpts" type="vmi1:DebugFileOptsT"/>
  <xs:complexType name="RangesT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:range"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="range">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:start"/>
        <xs:element ref="vmi1:end"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="start" type="vmi1:ADDR"/>
  <xs:element name="end" type="vmi1:ADDR"/>
  <xs:element name="ranges" type="vmi1:RangesT"/>
  <xs:complexType name="ScopeT">
    <xs:sequence>
      <xs:element minOccurs="0" ref="vmi1:name"/>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" ref="vmi1:symbol"/>
        <xs:element minOccurs="0" ref="vmi1:ranges"/>
        <xs:element minOccurs="0" ref="vmi1:parent"/>
        <xs:element ref="vmi1:scopes"/>
        <xs:element ref="vmi1:symbols"/>
        <xs:element ref="vmi1:anonSymbols"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="sid" type="xs:ID"/>
    <xs:attribute name="sref" type="xs:IDREF"/>
  </xs:complexType>
  <xs:element name="symbol" type="vmi1:SymbolT"/>
  <xs:element name="parent" type="vmi1:ScopeT"/>
  <xs:element name="scopes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:scope"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scope" type="vmi1:ScopeT"/>
  <xs:element name="symbols" type="vmi1:SymbolsOptT"/>
  <xs:element name="anonSymbols" type="vmi1:SymbolsOptT"/>
  <xs:element name="addr" type="vmi1:ADDR"/>
  <xs:element name="reg" type="vmi1:REGNO"/>
  <xs:element name="regAddr" type="vmi1:REGNO"/>
  <xs:element name="regOffset">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:reg"/>
        <xs:element ref="vmi1:offset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="offset" type="vmi1:OFFSET"/>
  <xs:element name="memberOffset" type="vmi1:OFFSET"/>
  <xs:element name="fbRegOffset" type="vmi1:OFFSET"/>
  <xs:element name="locList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="vmi1:locListLoc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="locListLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:location"/>
      </xs:sequence>
      <xs:attribute name="start" use="required" type="vmi1:ADDR"/>
      <xs:attribute name="end" use="required" type="vmi1:ADDR"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="location" type="vmi1:LocationT"/>
  <xs:element name="iword" type="vmi1:ADDR"/>
  <xs:element name="idata" type="xs:hexBinary"/>
  <xs:element name="runtimeLoc" type="xs:hexBinary"/>
  <xs:complexType name="LocationT">
    <xs:choice minOccurs="0">
      <xs:element ref="vmi1:addr"/>
      <xs:element ref="vmi1:reg"/>
      <xs:element ref="vmi1:regAddr"/>
      <xs:element ref="vmi1:regOffset"/>
      <xs:element ref="vmi1:memberOffset"/>
      <xs:element ref="vmi1:fbRegOffset"/>
      <xs:element ref="vmi1:locList"/>
      <xs:element ref="vmi1:iword"/>
      <xs:element ref="vmi1:idata"/>
      <xs:element ref="vmi1:runtimeLoc"/>
    </xs:choice>
    <xs:attribute name="locationType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="addr"/>
          <xs:enumeration value="reg"/>
          <xs:enumeration value="regAddr"/>
          <xs:enumeration value="regOffset"/>
          <xs:enumeration value="memberOffset"/>
          <xs:enumeration value="fbRegOffset"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="implicitWord"/>
          <xs:enumeration value="ImplicitData"/>
          <xs:enumeration value="runtime"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:attributeGroup name="SymbolHeader">
    <xs:attribute name="sid" type="xs:ID"/>
    <xs:attribute name="sref" type="xs:IDREF"/>
    <xs:attribute name="name" type="xs:token"/>
  </xs:attributeGroup>
  <xs:complexType name="SizeT">
    <xs:sequence>
      <xs:element ref="vmi1:byteSize"/>
      <xs:sequence minOccurs="0">
        <xs:element ref="vmi1:bitSize"/>
        <xs:element ref="vmi1:bitOffset"/>
        <xs:element ref="vmi1:containingTypeByteSize"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="sizeType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="byte"/>
          <xs:enumeration value="bit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="byteSize" type="xs:unsignedInt"/>
  <xs:element name="bitSize" type="xs:unsignedInt"/>
  <xs:element name="bitOffset" type="xs:unsignedInt"/>
  <xs:element name="containingTypeByteSize" type="xs:unsignedInt"/>
  <xs:group name="SymbolCommon">
    <xs:sequence>
      <xs:element ref="vmi1:declaration"/>
      <xs:element minOccurs="0" ref="vmi1:size"/>
      <xs:element ref="vmi1:source"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="declaration">
    <xs:complexType>
      <xs:attribute name="isExternal" use="required" type="xs:boolean"/>
      <xs:attribute name="isDeclaration" use="required" type="xs:boolean"/>
      <xs:attribute name="isPrototyped" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="size" type="vmi1:SizeT"/>
  <xs:element name="source">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="elf"/>
        <xs:enumeration value="dwarf"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:group name="InstanceSymbol">
    <xs:sequence>
      <xs:element minOccurs="0" ref="vmi1:addr"/>
      <xs:element ref="vmi1:inlineInfo"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="inlineInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vmi1:instances"/>
        <xs:element minOccurs="0" ref="vmi1:origin"/>
      </xs:sequence>
      <xs:attribute name="isInlineInstance" use="required" type="xs:boolean"/>
      <xs:attribute name="isDeclaredInline" use="required" type="xs:boolean"/>
      <xs:attribute name="isInlined" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="instances" type="vmi1:SymbolsT"/>
  <xs:element name="origin" type="vmi1:SymbolT"/>
  <xs:complexType name="RootT">
    <xs:sequence>
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:compilationDir"/>
      <xs:element ref="vmi1:producer"/>
      <xs:element ref="vmi1:language"/>
      <xs:element ref="vmi1:scope"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="compilationDir" type="xs:token"/>
  <xs:element name="producer" type="xs:token"/>
  <xs:element name="language" type="xs:token"/>
  <xs:complexType name="VariableT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:group ref="vmi1:InstanceSymbol"/>
      <xs:element minOccurs="0" ref="vmi1:symtype"/>
      <xs:element minOccurs="0" ref="vmi1:constValue"/>
      <xs:element ref="vmi1:kind"/>
      <xs:element minOccurs="0" ref="vmi1:location"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="symtype" type="vmi1:SymbolT"/>
  <xs:element name="constValue" type="xs:token"/>
  <xs:element name="kind">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="variable"/>
        <xs:enumeration value="parameter"/>
        <xs:enumeration value="member"/>
        <xs:enumeration value="enumerator"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="FunctionT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:group ref="vmi1:InstanceSymbol"/>
      <xs:element minOccurs="0" ref="vmi1:symtype"/>
      <xs:element minOccurs="0" ref="vmi1:constValue"/>
      <xs:element ref="vmi1:parameterCount"/>
      <xs:element ref="vmi1:hasUnspecifiedParams"/>
      <xs:element ref="vmi1:parameters"/>
      <xs:element minOccurs="0" ref="vmi1:entryPC"/>
      <xs:element minOccurs="0" ref="vmi1:prologueEnd"/>
      <xs:element minOccurs="0" ref="vmi1:epilogueBegin"/>
      <xs:element ref="vmi1:scope"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="parameterCount" type="xs:unsignedShort"/>
  <xs:element name="hasUnspecifiedParams" type="xs:boolean"/>
  <xs:element name="parameters" type="vmi1:SymbolsOptT"/>
  <xs:element name="entryPC" type="vmi1:ADDR"/>
  <xs:element name="prologueEnd" type="vmi1:ADDR"/>
  <xs:element name="epilogueBegin" type="vmi1:ADDR"/>
  <xs:complexType name="BlockT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:group ref="vmi1:InstanceSymbol"/>
      <xs:element ref="vmi1:scope"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="LabelT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:group ref="vmi1:InstanceSymbol"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="VoidTypeT">
    <xs:sequence>
      <xs:element ref="vmi1:source"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="BaseTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:encoding"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="encoding">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="address"/>
        <xs:enumeration value="boolean"/>
        <xs:enumeration value="complexFloat"/>
        <xs:enumeration value="float"/>
        <xs:enumeration value="signed"/>
        <xs:enumeration value="signedChar"/>
        <xs:enumeration value="unsigned"/>
        <xs:enumeration value="unsignedChar"/>
        <xs:enumeration value="imaginaryFloat"/>
        <xs:enumeration value="packedDecimal"/>
        <xs:enumeration value="numericString"/>
        <xs:enumeration value="edited"/>
        <xs:enumeration value="signedFixed"/>
        <xs:enumeration value="unsignedFixed"/>
        <xs:enumeration value="unknown"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="PointerTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="RefTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="TypedefTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="ConstTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="VolatileTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="ArrayTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:subrangeCount"/>
      <xs:element ref="vmi1:subranges"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="subrangeCount" type="xs:int"/>
  <xs:element name="subranges">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="vmi1:subrange"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subrange" type="xs:int"/>
  <xs:complexType name="EnumTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:element name="memberCount" type="xs:int"/>
  <xs:element name="members" type="vmi1:SymbolsOptT"/>
  <xs:complexType name="StructTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="UnionTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="ClassTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="NamespaceTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="TemplateTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:memberCount"/>
      <xs:element ref="vmi1:members"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
  <xs:complexType name="FunctionTypeT">
    <xs:sequence minOccurs="0">
      <xs:group ref="vmi1:SymbolCommon"/>
      <xs:element ref="vmi1:symtype"/>
      <xs:element ref="vmi1:parameterCount"/>
      <xs:element ref="vmi1:hasUnspecifiedParams"/>
      <xs:element ref="vmi1:parameters"/>
    </xs:sequence>
    <xs:attributeGroup ref="vmi1:SymbolHeader"/>
  </xs:complexType>
</xs:schema>
