xml/schema/target.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Copyright (c) 2011, 2012, 2013 The University of Utah
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of
  the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://anathema.flux.utah.edu/schema/vmi/1" xmlns:vmi1="http://anathema.flux.utah.edu/schema/vmi/1">
  <xs:include schemaLocation="common.xsd"/>
  <xs:simpleType name="TargetTypeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="ptrace"/>
      <xs:enumeration value="xen"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TargetModeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="live"/>
      <xs:enumeration value="replay"/>
      <xs:enumeration value="record"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ThreadBPModeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="strict"/>
      <xs:enumeration value="semiStrict"/>
      <xs:enumeration value="loose"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TargetSpecT">
    <xs:sequence>
      <xs:element ref="vmi1:mode"/>
      <xs:element ref="vmi1:threadBPMode"/>
      <xs:element ref="vmi1:startPaused"/>
      <xs:element ref="vmi1:backendSpec"/>
    </xs:sequence>
    <xs:attribute name="type" use="required" type="vmi1:TargetTypeT"/>
  </xs:complexType>
  <xs:element name="mode" type="vmi1:TargetModeT"/>
  <xs:element name="threadBPMode" type="vmi1:ThreadBPModeT"/>
  <xs:element name="startPaused" type="xs:boolean"/>
  <xs:element name="backendSpec">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="vmi1:targetXenSpec"/>
        <xs:element ref="vmi1:targetPtraceSpec"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="targetSpec" type="vmi1:TargetSpecT"/>
  <xs:complexType name="TargetXenSpecT">
    <xs:choice>
      <xs:element ref="vmi1:domain"/>
      <xs:sequence>
        <xs:element ref="vmi1:configFile"/>
        <xs:element minOccurs="0" ref="vmi1:replayLogFile"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="domain" type="xs:string"/>
  <xs:element name="configFile" type="xs:string"/>
  <xs:element name="replayLogFile" type="xs:string"/>
  <xs:element name="targetXenSpec" type="vmi1:TargetXenSpecT"/>
  <xs:complexType name="TargetPtraceSpecT">
    <xs:choice>
      <xs:element name="pid" type="xs:int"/>
      <xs:sequence>
        <xs:element ref="vmi1:program"/>
        <xs:element ref="vmi1:arguments"/>
        <xs:element ref="vmi1:environment"/>
        <xs:element minOccurs="0" ref="vmi1:stdoutLogfile"/>
        <xs:element minOccurs="0" ref="vmi1:stderrLogfile"/>
        <xs:element ref="vmi1:closeStdin"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="program" type="xs:string"/>
  <xs:element name="arguments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:argument"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="argument" type="xs:string"/>
  <xs:element name="environment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:envvar"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="envvar" type="xs:string"/>
  <xs:element name="stdoutLogfile" type="xs:string"/>
  <xs:element name="stderrLogfile" type="xs:string"/>
  <xs:element name="closeStdin" type="xs:boolean"/>
  <xs:element name="targetPtraceSpec" type="vmi1:TargetPtraceSpecT"/>
  <xs:simpleType name="ThreadStatusT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="running"/>
      <xs:enumeration value="stopped"/>
      <xs:enumeration value="sleeping"/>
      <xs:enumeration value="zombie"/>
      <xs:enumeration value="dead"/>
      <xs:enumeration value="blockedio"/>
      <xs:enumeration value="paging"/>
      <xs:enumeration value="paused"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="threadStatus" type="vmi1:ThreadStatusT"/>
  <xs:complexType name="ThreadT">
    <xs:sequence>
      <xs:element ref="vmi1:thid"/>
      <xs:element ref="vmi1:tid"/>
      <xs:element ref="vmi1:threadStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="thid" type="vmi1:ThreadIdT"/>
  <xs:element name="tid" type="vmi1:TargetIdT"/>
  <xs:element name="thread" type="vmi1:ThreadT"/>
  <xs:simpleType name="TargetStatusT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="running"/>
      <xs:enumeration value="paused"/>
      <xs:enumeration value="dead"/>
      <xs:enumeration value="stopped"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="done"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="targetStatus" type="vmi1:TargetStatusT"/>
  <xs:complexType name="TargetT">
    <xs:sequence>
      <xs:element ref="vmi1:tid"/>
      <xs:element ref="vmi1:targetSpec"/>
      <xs:element ref="vmi1:targetStatus"/>
      <xs:element maxOccurs="unbounded" ref="vmi1:thread"/>
      <xs:element maxOccurs="unbounded" ref="vmi1:addrSpace"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>
  <xs:element name="target" type="vmi1:TargetT"/>
  <xs:complexType name="AddrSpaceT">
    <xs:sequence>
      <xs:element ref="vmi1:tid"/>
      <xs:element maxOccurs="unbounded" ref="vmi1:memRegion"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="id" use="required" type="xs:int"/>
  </xs:complexType>
  <xs:element name="addrSpace" type="vmi1:AddrSpaceT"/>
  <xs:simpleType name="MemRegionTypeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="heap"/>
      <xs:enumeration value="stack"/>
      <xs:enumeration value="vdso"/>
      <xs:enumeration value="vsyscall"/>
      <xs:enumeration value="anon"/>
      <xs:enumeration value="main"/>
      <xs:enumeration value="lib"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="memRegionType" type="vmi1:MemRegionTypeT"/>
  <xs:complexType name="MemRegionT">
    <xs:sequence>
      <xs:element ref="vmi1:baseLoadAddr"/>
      <xs:element ref="vmi1:basePhysAddr"/>
      <xs:element ref="vmi1:baseVirtAddr"/>
      <xs:element ref="vmi1:physOffset"/>
      <xs:element ref="vmi1:memRegionType"/>
      <xs:element maxOccurs="unbounded" ref="vmi1:memRange"/>
      <xs:element maxOccurs="unbounded" ref="vmi1:debugFileId"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>
  <xs:element name="baseLoadAddr" type="vmi1:ADDR"/>
  <xs:element name="basePhysAddr" type="vmi1:ADDR"/>
  <xs:element name="baseVirtAddr" type="vmi1:ADDR"/>
  <xs:element name="physOffset" type="vmi1:OFFSET"/>
  <xs:element name="debugFileId" type="vmi1:DebugFileIdT"/>
  <xs:element name="memRegion" type="vmi1:MemRegionT"/>
  <xs:complexType name="MemRangeT">
    <xs:sequence>
      <xs:element ref="vmi1:start"/>
      <xs:element ref="vmi1:end"/>
      <xs:element ref="vmi1:offset"/>
    </xs:sequence>
    <xs:attribute name="read" use="required" type="xs:boolean"/>
    <xs:attribute name="write" use="required" type="xs:boolean"/>
    <xs:attribute name="execute" use="required" type="xs:boolean"/>
  </xs:complexType>
  <xs:element name="start" type="vmi1:ADDR"/>
  <xs:element name="end" type="vmi1:ADDR"/>
  <xs:element name="offset" type="vmi1:ADDR"/>
  <xs:element name="memRange" type="vmi1:MemRangeT"/>
  <xs:simpleType name="ProbeIdT">
    <xs:annotation>
      <xs:documentation>
Probe stuff.
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="ProbepointTypeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="break"/>
      <xs:enumeration value="watch"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="probepointType" type="vmi1:ProbepointTypeT"/>
  <xs:simpleType name="ProbepointStyleT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="fastest"/>
      <xs:enumeration value="hw"/>
      <xs:enumeration value="sw"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="probepointStyle" type="vmi1:ProbepointStyleT"/>
  <xs:simpleType name="ProbepointWhenceT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="exec"/>
      <xs:enumeration value="write"/>
      <xs:enumeration value="readwrite"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="probepointWhence" type="vmi1:ProbepointWhenceT"/>
  <xs:simpleType name="ProbepointSizeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="0"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="probepointSize" type="vmi1:ProbepointSizeT"/>
  <xs:complexType name="ProbeT">
    <xs:sequence>
      <xs:element name="pid" type="vmi1:ProbeIdT"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element ref="vmi1:addr"/>
      <xs:element name="type" type="vmi1:ProbepointTypeT"/>
      <xs:element ref="vmi1:style"/>
      <xs:element name="whence" type="vmi1:ProbepointWhenceT"/>
      <xs:element ref="vmi1:size"/>
      <xs:element ref="vmi1:tid"/>
      <xs:element ref="vmi1:thid"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addr" type="vmi1:ADDR"/>
  <xs:element name="style" type="vmi1:ProbepointTypeT"/>
  <xs:element name="size" type="vmi1:ProbepointSizeT"/>
  <xs:element name="probe" type="vmi1:ProbeT"/>
  <xs:complexType name="RegisterValueT">
    <xs:sequence>
      <xs:element name="name" type="xs:token"/>
      <xs:element ref="vmi1:value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="value" type="xs:unsignedLong"/>
  <xs:complexType name="RegisterValue">
    <xs:sequence>
      <xs:element ref="vmi1:registerValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registerValue" type="vmi1:RegisterValueT"/>
  <xs:complexType name="ProbeEventT">
    <xs:sequence>
      <xs:element ref="vmi1:probe"/>
      <xs:element ref="vmi1:thread"/>
      <xs:element ref="vmi1:registerValues"/>
    </xs:sequence>
    <xs:attribute name="eventType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pre"/>
          <xs:enumeration value="post"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="registerValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:registerValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="probeEvent" type="vmi1:ProbeEventT"/>
  <xs:simpleType name="ActionIdT">
    <xs:annotation>
      <xs:documentation>
Action stuff (including single step stuff).
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="ActionTypeT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="return"/>
      <xs:enumeration value="regmod"/>
      <xs:enumeration value="memmod"/>
      <xs:enumeration value="singlestep"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="actionType" type="vmi1:ActionTypeT"/>
  <xs:simpleType name="HandlerMsgT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="success"/>
      <xs:enumeration value="failure"/>
      <xs:enumeration value="stepping"/>
      <xs:enumeration value="stepping_at_bp"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="handlerMsg" type="vmi1:HandlerMsgT"/>
  <xs:simpleType name="ActionWhenceT">
    <xs:restriction base="xs:token">
      <xs:enumeration value="oneshot"/>
      <xs:enumeration value="repeatpre"/>
      <xs:enumeration value="repeatpost"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="actionWhence" type="vmi1:ActionWhenceT"/>
  <xs:complexType name="ActionSpecT">
    <xs:sequence>
      <xs:element ref="vmi1:tid"/>
      <xs:element name="pid" type="vmi1:ProbeIdT"/>
      <xs:element name="type" type="vmi1:ActionTypeT"/>
      <xs:element name="whence" type="vmi1:ActionWhenceT"/>
      <xs:choice>
        <xs:element ref="vmi1:return"/>
        <xs:element ref="vmi1:regmod"/>
        <xs:element ref="vmi1:memmod"/>
        <xs:element ref="vmi1:singlestep"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="return">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="code" type="xs:unsignedLong"/>
  <xs:element name="regmod" type="vmi1:RegisterValue"/>
  <xs:element name="memmod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:addr"/>
        <xs:element ref="vmi1:data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data" type="xs:hexBinary"/>
  <xs:element name="singlestep">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vmi1:stepCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stepCount" type="xs:int"/>
  <xs:element name="actionSpec" type="vmi1:ActionSpecT"/>
  <xs:complexType name="ActionSpecsT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="vmi1:actionSpec"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actionSpecs" type="vmi1:ActionSpecsT"/>
  <xs:complexType name="ActionT">
    <xs:sequence>
      <xs:element ref="vmi1:aid"/>
      <xs:element ref="vmi1:actionSpec"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aid" type="vmi1:ActionIdT"/>
  <xs:element name="action" type="vmi1:ActionT"/>
  <xs:complexType name="ActionEventT">
    <xs:sequence>
      <xs:element ref="vmi1:handlerMsg"/>
      <xs:element ref="vmi1:actionDetail"/>
      <xs:element ref="vmi1:action"/>
      <xs:element ref="vmi1:thread"/>
      <xs:element ref="vmi1:registerValues"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actionDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="vmi1:stepCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actionEvent" type="vmi1:ActionEventT"/>
</xs:schema>
